#make-migration-file-command-section {
  display: none;
  margin-top: 20px;
}

.one-line-code {
  margin-right: 5px;

  /* コード風に */
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#copy-make-migration-file-command {
  cursor: pointer;
}

#columns-section-title {
  margin-top: 30px;
}

#columns-table-section {
  margin-bottom: 20px;
}

#columns-table {
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
}

#columns-table th,
#columns-table td {
  border: solid 1px #ccc;
  text-align: left;
  padding-right: 10px;
}

#add-column-button {
  margin-top: 20px;
}

#table-definition-template-section {
  display: none;
}

/* コードブロック風のスタイル */
.code-block {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
}

#copy-table-definition-template {
  margin-bottom: 10px;
}

#model-class-section {
  display: none;
}

#model-class-attributes-table-section {
  display: none;
  margin-bottom: 20px;
}

#model-class-attributes-table {
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
}

#model-class-attributes-table th,
#model-class-attributes-table td {
  border: solid 1px #ccc;
  text-align: left;
  padding-right: 10px;
}

#model-class-attributes-template-section {
  display: none;
}

#model-soft-deletes-attribute-section {
  margin-bottom: 10px;
}

#copy-model-casts-attribute {
  margin-bottom: 10px;
}
